/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*  */
}

/* header */
header {
    background-color: blue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: flex;
    list-style-type: none;
    gap: 5px;
}


/* main */
main {
    background-color: lightblue;
    flex: 1 0 auto;
}

.hero-container {
    background-color: darkolivegreen;
    padding-bottom: 5px;
}


/* footer */
footer {
    background-color: salmon;
    
}